<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all department</title>


</head>
<body>
<h1>DEPARTMENT:</h1>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

<form th:action="@{/depart/create}" accept-charset="utf-8" style="float: left;">
    <button type="submit">добавить департамент</button>
</form>
<form th:action="@{/edit}" accept-charset="utf-8" style="float: left;">
    <input type="text" name="id" placeholder="введите id департамента" >
     <button type="submit">изменить</button>
</form>
<form th:action="@{/addEmployee}" accept-charset="utf-8">
    <button type="submit">добавить сотрудника в деп.</button>
</form>

<table class="department">
    <thead>
    <tr>
        <th>id</th>
        <th>департамент</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="department : ${departments}">
        <td th:text="${department.id}">id</td>
        <td th:text="${department.nameDepartment}">name</td>
        <td>
            <form th:action="@{/listEmp}" accept-charset="utf-8">
                <input type="text"  name="id" th:value="${department.id}" />
                <button type="submit">просмотр сотрудников</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>


<table class="employee">
    <thead>
    <tr>
        <th>name employees</th>
        <th>last name</th>
        <th>department</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.name}">name</td>
        <td th:text="${employee.lastName}">name</td>
        <td th:text="${employee.department.nameDepartment}">name</td>

    </tr>
    </tbody>
</table>

<form th:action="@{/employee/list}" accept-charset="utf-8">
    <button type="submit">справочник сотрудников</button>
</form>

<span><a href="/user" >user list</a></span>
<span><a href="/calendar/list" >главная страница</a></span>
</body>
</html>